<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="cnn" connectionString="Data Source=\SQLEXPRESS;Initial Catalog=Clinica;Integrated Segurity=True" />
    <add name="Clinica_Nefroone.Properties.Settings.ClinicaConnectionString"
      connectionString="Data Source=DESKTOP-NEIDIIR;Initial Catalog=Clinica;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>